<%
  tcr = @mail ? ' style="text-align:right"' : ''
 %>
<div class='statrow' style="float:left;">
<table>
  <tr><th<%=tcr%>>&nbsp;</th></tr>
  <tr><td<%=tcr%>>interval</td></tr>
  <tr><td<%=tcr%>>n</td></tr>
  <tr><td<%=tcr%>>average lag</td></tr>
  <tr><td<%=tcr%>>results</td></tr>
  </table>
</div>
